<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<form method="post">
  {% csrf_token %}
  <div
    class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-md w-full space-y-8">
      <div class="items-center">
        <img alt="Лого"
             class="m-auto mt-6 text-3xl font-extrabold text-gray-900"
             src="/static/images/KanoFormLogo.svg"
             width="200"
        />
        <p class="mt-2 text-center text-sm text-gray-600">
        </p>
      </div>
      <form action="#" class="mt-8 space-y-6" method="POST">
        <input name="remember" type="hidden" value="true"/>
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label class="sr-only" for="username">Имя пользователя</label>
            <input
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              name="username"
              placeholder="Имя пользователя"
              required
            />
          </div>
          <div>
            <label class="sr-only" for="password">Пароль</label>
            <input
              autocomplete="current-password"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              id="password"
              name="password"
              placeholder="Пароль"
              required
              type="password"
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
              id="remember-me"
              name="remember-me"
              type="checkbox"
            />
            <label
              class="ml-2 block text-sm text-gray-900"
              for="remember-me"
            >
              Запомнить меня
            </label>
          </div>
          <div><a class="ml-2 text-sm text-bold text-indigo-600 hover:text-indigo-500" href="/users/register">Нет аккаунта? Зарегестрируйтесь</a></div>
        </div>

        <div>
          <button
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit"
          >
								<span class="absolute left-0 inset-y-0 flex items-center pl-3">
									<svg
                    aria-hidden="true"
                    class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
										<path
                      clip-rule="evenodd"
                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                      fill-rule="evenodd"
                    />
									</svg>
								</span>
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</form>
</body>
</html>
