<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script crossorigin="anonymous"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer"
    rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://cdnout.com/react-chartjs-2/index.js"></script>
  <link href="/static/css/analytics.module.css" rel="stylesheet" />
  <title>Аналитика анкеты</title>
</head>

<body>
  <div class="bg-gray-200 h-full" id="root"></div>
</body>
<script type="text/babel">
  const url = "/api/analytics/"
  const {useState, useEffect} = React
  const Bar = window["ReactChartjs2"].Bar
  const Doughnut = window["ReactChartjs2"].Doughnut
  const questionaryId = window.location.pathname.replace(/\D/g, "")
  const barOptions = {
    tooltips: {
      enabled: true
    },
    scales: {
      x: {
        grid: {
          display: false
        }
      }
    },
    responsive: true,
    plugins: {
      legend: {
        position: "top"
      },
      title: {
        display: false
      }
    }
  }

  const doughnutOptions = {
    responsive: true,
    plugins: {
      legend: {
        position: "right"
      }
    }
  }

  const Filters = () => {
    const selectOptions = [0, 1, 2, 3, 4, 5]
    return (
      <div className='flex justify-between flex-wrap order-3 bg-white p-5'>
        {selectOptions.map(element => (
          <div key={element}>
            <select className='p-3 m-2 w-5/12 rounded bg-white shadow-md cursor-pointer hover:bg-gray-200 transition-all duration-400'>
              <option>Фильтр</option>
            </select>
          </div>
        ))}
      </div>
    )
  }

  const FeaturesInfo = props => {
    const [results, setResults] = useState({})

    const categories = Object.keys(results).map(category => [category])

    useEffect(() => {
      axios
        .get(`/api/analytics/${questionaryId}`)
        .then(response => setResults(prev => ({...prev, ...response.data})))
    }, [])

    const resultsKeys = Object.keys(results)
    const lengthOfResults = []
    resultsKeys.map(category =>
      lengthOfResults.push(results[category].length)
    )

    const featuresOverralScore = {}

    for (let x = 0; x < 5; x++) {
      const featureName = resultsKeys.find(
        category => resultsKeys.indexOf(category) === x
      )
      let overralScore = 0
      let qtyAnswers = 0
      results[featureName]?.map(result => {
        overralScore += result.feature.importance_score
        qtyAnswers++
      })
      overralScore = overralScore / qtyAnswers
      featuresOverralScore[featureName] = overralScore
    }
    const barData = {
      labels: categories,
      datasets: [
        {
          label: "Лучший результат",
          backgroundColor: ["blue"],
          data: lengthOfResults
        }
      ]
    }
    const doughnutData = {
      labels: categories,
      datasets: [
        {
          data: lengthOfResults,
          backgroundColor: ["blue", "yellow", "red", "green", "orange"]
        }
      ]
    }

    return (
      <>
        {categories.map((category, idx) => {
          return (
            <div className='pl-9 pt-4' key={idx}>
              <span className='text-xl font-semibold'></span>
              <div className='p-8 flex flex-col'>
                <div>
                  <Bar
                    data={barData}
                    key={3}
                    options={barOptions}
                    width={110}
                    height={25}
                    redraw={true}
                  />
                  <div className='flex flex-row items-center '>
                    <div className='w-4/12'>
                      <Doughnut
                        redraw={true}
                        key={4}
                        data={doughnutData}
                        options={doughnutOptions}
                      />
                    </div>
                    <div className='w-full text-center'>
                      <p className='text-lg font-semibold'>
                        Средняя важность:{" "}
                        <span className='font-normal'>
                          {featuresOverralScore[category].toFixed(1)}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          )
        })}
      </>
    )
  }
  const App = () => {
    return (
      <div className='shadow-md m-auto w-3/4 bg-white'>
        <Filters />
        <FeaturesInfo />
      </div>
    )
  }

  ReactDOM.createRoot(document.getElementById("root")).render(<App />)
</script>

</html>
