<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>All Questionaries</title>
    <link rel="stylesheet" href="/static/css/questionaryList.css">
	</head>
	<body>
		<div id='questionariesContainer' class="questionariesContainer"></div>
		<script 
      src="/static/js/questionary/questionaryListShow.js"
      type='module'
    ></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
	</body>
</html>
