<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
	<link rel="stylesheet" href="/static/css/questionaryFillIn.css">
</head>
<body>
<div class="header">
	<h1 class="questionary-name"></h1>
	<p class="questionary-author"></p>
</div>
<div class="main" id="root">
<div class="qualification-questions"></div>
  <hr>
<div class="feature-questions"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="/static/js/questionary/questionaryFillIn.js"></script>
</body>
</html>
